data_file       datasets/data/bigann/base.1B.fbin.crop_nb_100000000
radius          10000
cluster_num     200000
cluster_file    datasets/data/bigann/cluster_sift100M
metadata_file   datasets/data/bigann/meta_sift100M
hnsw_file       datasets/data/bigann/hnsw_sift100M
K               790
mem_budget      2.4
error_bound     0.01
gt              109893