data_file       datasets/data/deep/base.1B.fbin.crop_nb_100000000
radius          0.05
cluster_num     200000
cluster_file    datasets/data/deep/cluster_deep100M
metadata_file   datasets/data/deep/meta_deep100M
hnsw_file       datasets/data/deep/hnsw_deep100M
K               195
mem_budget      1.8
error_bound     0.05
gt              99745